<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<th:block th:include="header"></th:block>
<h2>Semester List</h2>
<button> <a th:href="@{/addCourse}" >New Course</a></button>
<table>
    <thead>
    <tr>
        <th>Course Name</th>
        <th>Semester</th>
        <th>Teacher</th>
        <th>Department</th>
        <th>Action</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="cour:${courses}">
        <td th:text="${cour.courseDefinition.name}"></td>
        <td th:text="${cour.semester.name}"></td>
        <td th:text="${cour.teacher.names}"></td>
        <td th:text="${cour.department.name}"></td>

        <td>
            <button><a th:href="@{/deleteCourse/{id}(id=${cour.id})}">Delete</a></button>

        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
