<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="header">
  <div class="information">
    <h1 style="color: white;">AUCA STUDENT REGISTRATION</h1>
  </div>
</div>
<ul>
  <li><a th:href="@{/addProgram}">Academic Unit</a></li>
  <li><a th:href="@{/addCourse}">Course</a></li>
  <li><a th:href="@{/addTea}">Teacher</a></li>
  <li><a th:href="@{/addSem}">Semester</a></li>
  <li><a th:href="@{/addStdCourse}">Student Course Reg</a></li>
<!--  <li><a th:href="@{/addTea}">Status Management</a></li>-->
  <li><a th:href="@{/addStd}">STUDENT</a></li>
  <li><a th:href="@{/addCountry}">Country</a></li>
  <li><a th:href="@{/addReg}">STD_REG</a></li>
  <li><a th:href="@{/addDef}">Course Definition</a></li>
  <li><a th:href="@{/addTea}">SD/DP/SM</a></li>
  <li><a th:href="@{/courses}">CS/DP/SM</a></li>
  <li><a th:href="@{/stdCourses}">CS/ST</a></li>

</ul>


</body>
</html>