<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<th:block th:include="header"></th:block>
<h2>Semester List</h2>
<button> <a th:href="@{/addStdCourse}" >Add StudentCourse</a></button>
<table>
    <thead>
    <tr>
        <th>StudentID</th>
        <th>StudentName</th>
        <th>CourseName</th>
        <th>Credits</th>
        <th>Result</th>
        <th>Action</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="st:${stdCr}">
        <td th:text="${st.studentRegistration.student.regNo}"></td>
        <td th:text="${st.studentRegistration.student.fullname}"></td>
        <td th:text="${st.course.courseDefinition.name}"></td>
        <td th:text="${st.credits}"></td>
        <td th:text="${st.results}"></td>

        <td>
            <button><a th:href="@{/deleteStdCourse/{id}(id=${st.id})}">Delete</a></button>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
