<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<th:block th:include="header"></th:block>
<!--<h2>Semester List</h2>-->
<button> <a th:href="@{/addStd}" >Student</a></button>
<table>
    <thead>
    <tr>
        <th>REG_NO</th>
        <th>FULLNAME</th>
        <th>DATE OF BIRTHDAY</th>
        <th>Action</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="students:${student}">
        <td th:text="${students.regNo}"></td>
        <td th:text="${students.fullname}"></td>
        <td th:text="${students.dob}"></td>

        <td>
        <button><a th:href="@{/deleteStudent/{id}(id=${students.id})}">Delete</a></button>
        </td>

    </tr>
    </tbody>
</table>
</body>
</html>
