<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<th:block th:include="header"></th:block>
<!--<h2>Semester List</h2>-->
<button> <a th:href="@{/addTea}" >Add teacher</a></button>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Names</th>
        <th>Qualification</th>
        <th>TYPE</th>
        <th>Action</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="t:${tea}">
        <td th:text="${t.code}"></td>
        <td th:text="${t.names}"></td>
        <td th:text="${t.type}"></td>
        <td th:text="${t.qualification}"></td>


        <td>
            <button><a th:href="@{/deleteTeacher/{id}(id=${t.id})}">Delete</a></button>
        </td>

    </tr>
    </tbody>
</table>
</body>
</html>
